<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessapp">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp">

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ActivitiesNotification"
            android:exported="false" />

        <activity
            android:name=".Activities"
            android:exported="false" />
        <activity
            android:name=".HealthActivity"
            android:exported="false" />

        <activity
            android:name=".HealthDashBoard"
            android:exported="false" />


        <activity
            android:name=".NutritionalHealth"
            android:exported="false" />
        <activity
            android:name=".WeightLoss"
            android:exported="false" />
        <activity
            android:name=".WeightActivity"
            android:exported="false" />
        <activity
            android:name=".AddWeight"
            android:exported="false" />
        <activity
            android:name=".Calculations"
            android:exported="false" />
        <activity
            android:name=".StepSensor"
            android:exported="false" />
        <activity
            android:name=".AddSteps"
            android:exported="false" />

        <activity
            android:name=".ProfileCreation"
            android:exported="false" />

        <activity
            android:name="com.example.fitnessapp.MainActivity"
            android:exported="true" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ActivitiesAlarm"/>
    </application>
</manifest>